@import 'colors';

header{
    position: relative;
    height: 100vh;
    background-color: $color-header;
    color: $color-white;
    margin: auto;
    align-items: center;
    text-align: center;
    .navbar ul li a{
        color: $color-grey;
        ul li {
            padding-right: 1rem;
        }
    }
    .navbar .form-inline .btn{
        background: transparent;
        color: $color-white;
    }
    section{
        position: absolute;
        margin: auto;
        top: 33%;
        .center{
            h2{
                padding-bottom: 1rem;
            }
            p{
                font-weight: bold;
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            
        }
        
        a{
            color: $color-white;
            font-weight: bold;
            background-color: $color-kaki;
            padding: 1rem;
            border-radius: 5px;
        
        }
    }
    .down{
        position: absolute;
        top: 95%;
        right: 2%;
        i{
            color: $color-white;
        }
    }
}     

