@import 'var';

.grp-article {
    @include petitranch;
}

.article {
    display: flex;
    flex-direction: column;
    width: 9.5rem;
    margin: .4rem;
    border: 1px solid $color-grey;
    @include box-shadow;
    .buy{
        color: $color-buy;
    }
    .sale{
        color: $color-on-sale;
    }
    .out{
        color: $color-sold-out;
    }
    
}

main h3{
    padding: 2rem 0;
}

.lign-article{
    position: relative;
    z-index: 0;
}
        .line  {
            position: absolute;
            border: 1px solid;
            color: $color-white;
            transform: rotate(-54deg);
            transform-origin: 0% ;
            width: 250px;
            z-index:1;
            top: 100%;
            
        }

.card p{
    padding-bottom: 2rem;
}

.product{
    position: initial;
    margin: 5rem;
    
}
.caca{
    height: 0vh;
    
}

